<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Product Management - Products</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>Product List</h1>

    <ul id="productList">
      <% products.forEach(product => { %>
      <li id="product_<%= product.id %>">
        <span class="productName"><%= product.name %></span>
        <span class="productDescription" style="font-style: italic"
          ><%= product.description %></span
        >
        <button class="edit-product">Edit</button>

        <input
          type="text"
          class="edit-product-input"
          style="display: none"
          value="<%= product.name %>"
        />
        <input
          type="text"
          class="edit-description-input"
          style="display: none"
          value="<%= product.description %>"
        />
        <button class="save-product" style="display: none">Save</button>
        <button class="delete-product" data-id="<%= product.id %>">
          Delete
        </button>
      </li>
      <% }); %>
    </ul>

    <h2>Add New Product</h2>
    <form id="newProductForm">
      <label for="productName">Product Name:</label>
      <input type="text" id="productName" name="name" required />
      <label for="productDescription">Product Description:</label>
      <input type="text" id="productDescription" name="description" required />
      <button type="submit">Add Product</button>
    </form>

    <script>
      $(document).ready(function () {
        function updateProduct(productId, editedName, editedDescription) {
          $.ajax({
            url: `/products/${productId}`,
            type: "PUT",
            data: { name: editedName, description: editedDescription },
            success: function (response) {
              const listItem = $(`#product_${response.product.id}`);
              listItem.find(".productName").text(response.product.name);
              listItem
                .find(".productDescription")
                .text(response.product.description);
              listItem.find(".edit-product-input").hide();
              listItem.find(".save-product").hide();
              listItem.find(".productName, productDescription").show();
              listItem.find(".edit-product").show();
              listItem.find(".delete-product").show();
            },
            error: function (err) {
              console.error("Error updating product:", err);
            },
          });
        }

        function addNewProduct(productName, productDescription) {
          $.ajax({
            url: "/products",
            type: "POST",
            data: { name: productName, description: productDescription },
            success: function (result) {
              const newProductHTML = `
              <li id="product_${result.id}">
                <span class="productName">${result.name}</span>
                <span class="productDescription"><i>${result.description}</i></span>
                <button class="edit-product">Edit</button>
                <input type="text" class="edit-product-input" style="display: none;" value="${result.name}" />
                <input type="text" class="edit-description-input" style="display: none;" value="${result.description}" />
                <button class="save-product" style="display: none;">Save</button>
                <button class="delete-product" data-id="${result.id}">Delete</button>
              </li>`;
              $("#productList").append(newProductHTML);
              $("#productName, #productDescription").val(""); // Clear the input fields after adding
            },
            error: function (err) {
              console.error("Error adding product:", err);
            },
          });
        }

        function deleteProduct(productId) {
          $.ajax({
            url: `/products/${productId}`,
            type: "DELETE",
            success: function () {
              $(`#product_${productId}`).remove();
            },
            error: function (err) {
              console.error("Error deleting product:", err);
            },
          });
        }

        $(document).on("click", ".save-product", function (e) {
          e.preventDefault();
          const listItem = $(this).closest("li");
          const editedName = listItem.find(".edit-product-input").val();
          const editedDescription = listItem
            .find(".edit-description-input")
            .val();
          const productId = listItem.attr("id").split("_").pop();
          updateProduct(productId, editedName, editedDescription);
        });

        $("#newProductForm").submit(function (e) {
          e.preventDefault();
          const productName = $("#productName").val();
          const productDescription = $("#productDescription").val();
          addNewProduct(productName, productDescription);
        });

        $(document).on("click", ".delete-product", function () {
          const productId = $(this).data("id");
          deleteProduct(productId);
        });

        $(document).on("click", ".edit-product", function () {
          const listItem = $(this).closest("li");
          const productName = listItem.find(".productName").text();
          const productDescription = listItem
            .find(".productDescription")
            .text();

          listItem.find(".productName, .productDescription").hide();
          listItem.find(".edit-product-input, .edit-description-input").show();
          listItem.find(".edit-product-input").val(productName);
          listItem.find(".edit-description-input").val(productDescription);
          listItem.find(".save-product").show();
          listItem.find(".edit-product, .delete-product").hide();
        });

        $(document).on("click", ".patch-product", function (e) {
          e.preventDefault();
          const listItem = $(this).closest("li");
          const editedFields = gatherEditedFields();

          const productId = listItem.attr("id").split("_").pop();

          $.ajax({
            url: `/products/${productId}`,
            type: "PATCH",
            data: editedFields,
            success: function (response) {
              // Update UI with the newly patched data
              listItem.find(".productName").text(response.product.name);
              listItem
                .find(".productDescription")
                .text(response.product.description);
            },
          });
        });

        $(document).on("click", ".save-product", function () {
          const listItem = $(this).closest("li");
          const editedName = listItem.find(".edit-product-input").val();
          const editedDescription = listItem
            .find(".edit-description-input")
            .val();
          const productId = listItem.attr("id").split("_").pop();

          $.ajax({
            url: `/products/${productId}`,
            type: "PUT",
            data: { name: editedName, description: editedDescription },
            success: function (response) {
              listItem.find(".productName").text(response.product.name);
              listItem
                .find(".productDescription")
                .html(`<i>${response.product.description}</i>`);
              listItem
                .find(".edit-product-input, .edit-description-input")
                .hide();
              listItem.find(".productName, .productDescription").show();
              listItem.find(".edit-product, .delete-product").show();
              listItem.find(".save-product").hide();
            },
            error: function (err) {
              console.error("Error updating product:", err);
            },
          });
        });
      });
    </script>
  </body>
</html>
